<div class="pg-foot">
    <a href="/users" title="home" class="act"><i class="material-icons">account_balance</i></a>
    <a href="/api/get/all-constitution"  title="constitution"><i class="material-icons">receipt</i></a>
    <a href="/users/hot"  title="hotline"><i class="material-icons">call</i></a>
    <a href="/api/getcases" title="report a case"><i class="material-icons">create</i></a>
</div>