<!DOCTYPE html>
<html lang="en">
<head>
	<title>justiphy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/root/root.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="pg-head subPg">
		<a class="bck" href="index.html"><i class="material-icons">
				arrow_back_ios
			</i></a>
		<h2>Logo</h2>
	</div>
	<h2 class="pg-tag">country constitution</h2>
	<div class="nav">
		<div class="left">1</div>
		<div class="right"><b>key word</b><br><br>Lorem Ipsum, Lipsum, Lorem, Ipsum, Text, Generate, Generator, Facts, Information, What, Why, Where, Dummy Text, Typesetting, Printing, de Finibus, Bonorum et Malorum, de Finibus Bonorum et Malorum, Extremes of Good and Evil, Cicero, Latin, Garbled, Scrambled,</div>
	</div>
	<form class="pg-mid">
		<button class="sub">next</button>
	</form>
</body></html>