<!DOCTYPE html>
<html lang="en">
<head>
	<title>justiphy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/root/root.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="pg-head subPg">
		<p>country constitution</p>
	</div>
	<div class="nav">
		<% 
		let num = 1
		constitutions.forEach((constitution)=>{ %>
			<div class="left"> <%= num++ %></div>
		<div class="right"><b><%= constitution.subject.toUpperCase() %></b><br><br>
			<%= constitution.content %>
			</div>
		<% })
		%>
		
	</div>
	<form class="pg-mid">
		<button class="sub">next</button>
	</form>
	<div class="pg-foot">
		<a href="/" title="home"><i class="material-icons">account_balance</i></a>
		<a href="/api/get/all-constitution"  title="constitution" class="act"><i class="material-icons">receipt</i></a>
		<a href="/users/hot"  title="hotline"><i class="material-icons">call</i></a>
		<a href="post" title="report a case"><i class="material-icons">create</i></a>
	</div>
</body></html>