<!DOCTYPE html>
<html lang="en">
<head>
	<title>justiphy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/root/root.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="pg-head subPg">
		<h2>JUSTIFY</h2>

		<p>Hotline</p>
	</div>
	<div class="pg-mid nav">
		<div class="left">1</div>
		<div class="right">08123487590</div>
	</div>
	<div class="pg-mid nav">
		<div class="left">2</div>
		<div class="right">08123487590</div>
	</div>
	<%- include('./partials/bottom.ejs', {}) %> 

	<!-- <div class="pg-foot">
		<a href="/" title="home"><i class="material-icons">account_balance</i></a>
		<a href="/api/get/all-constitution"  title="constitution"><i class="material-icons">receipt</i></a>
		<a href="/users/hot"  title="hotline" class="act"><i class="material-icons">call</i></a>
		<a href="post" title="report a case"><i class="material-icons">create</i></a>
	</div> -->
</body>
</html>