<!DOCTYPE html>
<html lang="en">
<head>
	<title>justiphy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/root/root.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="pg-head">
	<h2>Logo</h2>
	<div class="src">
		<input placeholder="search">
		<button class="ic_hf"></button>
	</div>
</div>
<a class="const" href="post.ejs">
	<h2>Post an issue</h2>
</a>
<div class="two-item">
<a class="const" href="#">
	<h2>constitution</h2>
</a>
<a class="const" href="#">
	<h2>emergency hotline</h2>
</a>
</div>
<a class="const" href="#">
	<h2>Cases</h2>
</a>
</body>
</html>
