<!DOCTYPE html>
<html lang="en">
<head>
	<title>justiphy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/root/root.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="pg-head">
		<h2>JUSTIFY</h2>
		<div class="src">
			<input placeholder="Search...">
			<button class="ic_hf"><i class="material-icons">
	search
	</i></button>
		</div>
	</div>
	<div class="case-body">
			<a class="case">
			<div class="img">
				<img src="/img/1.jpg">
			</div>
			<div class="text">All human beings are born free and equal in dignity and rights. They are endowed with reason and conscience and should act towards one another in a spirit of brotherhood.</div>
		</a>
		<a class="case">
			<div class="img">
				<img src="/img/2.jpg">
			</div>
			<div class="text">Everyone is entitled to all the rights and freedoms set forth in this Declaration, without distinction of any kind, such as race, colour, sex, language, religion, political or other opinion, national or social origin, property, birth or other status. Furthermore, no distinction shall be made on the basis of the political, jurisdictional or international status of the country or territory to which a person belongs, whether it be independent, trust, non-self-governing or under any other limitation of sovereignty.</div>
		</a>
		<a class="case">
			<div class="img">
				<img src="/img/3.png">
			</div>
			<div class="text">Everyone has the right to life, liberty and security of person.</div>
		</a>
		<a class="case">
			<div class="img">
				<img src="/img/4.png">
			</div>
			<div class="text">No one shall be held in slavery or servitude; slavery and the slave trade shall be prohibited in all their forms.</div>
		</a>
		</div>
	<%- include('./partials/bottom.ejs') %>

	<!-- <div class="pg-foot">
		<a href="/users" title="home" class="act"><i class="material-icons">account_balance</i></a>
		<a href="/api/get/all-constitution"  title="constitution"><i class="material-icons">receipt</i></a>
		<a href="/users/hot"  title="hotline"><i class="material-icons">call</i></a>
		<a href="/api/getcases" title="report a case"><i class="material-icons">create</i></a>
	</div> -->
	</body>
</html>
