<!DOCTYPE html>
<html lang="en">
<head>
	<title>justiphy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/root/root.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<script>
	fileScan = (ele, type, rawData) => {
		'use strict';
		var file = ele.files[0],
			scanner = new FileReader(),
			data;
		switch (type) {
			case 'size':
				return bToSize(file.size);
			case 'name':
				return file.name;
			case 'type':
				return file.type;
			case 'imgSrc':
				if (file.type.match(/image.*/)) {
					scanner.onload = function () {
						rawData.src = scanner.result;
					}
				} else {
					return false;
				}
				scanner.readAsDataURL(file);
				break;
			case 'imgUrl':
				scanner.onload = function () {
					rawData.style.backgroundImage = "url(" + scanner.result + ")";
				}
				scanner.readAsDataURL(file);
		}
	}
</script>
<body>
	<div class="pg-head subPg">
		<!-- <h2>JUSTIFY</h2> -->

		<p>post an issue</p>
	</div>
	<form method="post" action="/api/report" class="pg-mid" enctype="multipart/form-data">
		<div class="input-T1">
			<input name="name" type="text" placeholder="" required>
			<span class="ic_hf"><i class="material-icons">
					account_circle
				</i></span>
			<p class="place-hd"> Name</p>
		</div>
		<div class="input-T1">
			<input type="text" name="email" placeholder="" required>
			<span class="ic_hf"><i class="material-icons">
					email
				</i></span>
			<p class="place-hd">Email</p>
		</div>
		<div class="input-T1">
			<input type="text" name="phoneNumber" placeholder="" required>
			<span class="ic_hf"><i class="material-icons">
					phone
				</i></span>
			<p class="place-hd">Phone Number</p>
		</div>
		<textarea class="qu-box" name="caseContent" placeholder="Enter text"></textarea>
		<div class="fiUpload">
			<input type="file" name="caseImages" multiple>
			<div>
				<span><i class="material-icons">
						image
					</i></span>
				<p>Add file</p>
			</div>

		</div><br>
		<div class="fl_list">
			<img src="img/1.jpg" id="display">
		</div>
		<button type="submit" class="sub">Submit</button>

		<%#= success ? success : '' %>
		<%# mailSent ? mailSent : '' %>

	</form>
	<%- include('./partials/bottom.ejs') %>
	<!-- <div class="pg-foot">
		<a href="/" title="home"><i class="material-icons">account_balance</i></a>
		<a href="const"  title="constitution"><i class="material-icons">receipt</i></a>
		<a href="hot"  title="hotline"><i class="material-icons">call</i></a>
		<a href="/api/report" title="report a case" class="act"><i class="material-icons">create</i></a>
	</div> -->
</body></html>